html,
body {
  height: 100%;
}
body {
  margin: 0;
  text-align: center;
  background-color: white;
}

.wrapper {
  min-height: calc(100vh - 70px);
}

#joinRoom {
  width: 430px;
  height: 250px;
  padding: 80px 35px 35px 35px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  margin: 40px auto;
  margin-bottom: 100px;
  background: #ecf0f3;
  border-radius: 50px;
}

#hr {
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

#hr2 {
  height: 12px;
  border: 0;
  box-shadow: inset 12px 0 12px 0 rgba(0, 0, 0, 0.5);
}

#container1 {
  background-color: #203647;
}
